version: "3.8"

services:
  app:
    build: .
    container_name: mediaserver
    ports:
      - "8080:8080"
    environment:
      - DOCKER_MEDIA_DIR=/app/media/
    networks:
      - internal
    volumes:
      - ${HOST_MEDIA_DIR}:/app/media/

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    depends_on:
      - app
    command: http app:8080
    environment:
      # PUT YOUR TOKEN HERE
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    networks:
      - internal
    restart: on-failure

  tailscale:
    build:
      context: .
      dockerfile: Dockerfile-tailscale
    container_name: tailscale
    network_mode: "host"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - TAILSCALE_AUTHKEY=${TAILSCALE_AUTHKEY}
    volumes:
      - ./tailscale-data:/var/lib/tailscale
    depends_on:
      - app
    restart: always

networks:
  internal:
    driver: bridge
